*{
    margin:0px;
    padding:0px;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.nav{
    height:40px;
    width:100%;
    background-color:#484444;
    display:flex;
     align-items:center;
    justify-content:space-between;
    /* padding:0 10px; */
    color:white;

}
.menu{
    display:flex;
    list-style:none;
    gap:30px;
}
.container{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    margin-top:-0px;
}
h1{
    font-size:40px;
    margin-bottom:20px;
}
p{
    font-size:20px;
    margin-bottom:30px;
}
.con-input{
    height:80px;
    width:40%;
    border:1px solid #ccc;
    border-radius:8px;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ece7e7;
}
input{
    height:40px;
    width:50%;
    border:1px solid #484444;
    background-color:#f3f1f1;
    color:rgb(16, 16, 16);
    cursor:pointer;
     border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
}
.button{
    height:40px;
    width:70px;
    border:none;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    background-color:#4616f3;
    color:white;
}

.button:hover{
    background-color:#2e0eb3;
    cursor:pointer;
}
.dynamic{
    height:100px;
    width:40%;
    border-top:1px solid #484444;
    border-bottom:1px solid #484444;
    background-color:#f3f1f1;
    margin-top:30px;
    font-size:15px;
    color:#4616f3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.op-contener{
     height:100px;
    width:40%;
    border:1px solid #ccc;
    border-radius:8px;
    padding:10px;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #bedcf7;
    margin-top:20px;
    flex-direction: column;
}
.dyna-msg{
    font-size: 10px;
    color:#333;
    margin:5px 0;
    height:50px;
    width:100%;
    border:1px solid #749ef3;
    background-color: #c0d9ef;
    padding:5px;
}
